/* Importando as fontes */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Urbanist:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* Estilos do Modal */
.reactModalOverlay {
  background-color: rgba(0, 0, 0, 0.822);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.reactModalContent {
  background-color: #1e1e1ed1;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  margin: auto;
  position: relative;
  overflow-y: auto;
}

/* Estilos Gerais */
h2 {
  color: #fff;
  text-align: center;
  font-family: "Urbanist", sans-serif;
}

button {
  display: flex;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 65px;
  align-items: center;
  cursor: pointer;
}

form div {
  margin-bottom: 15px;
}

/* Estilos dos Labels */
label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  text-align: left;
  font-family: "Urbanist", sans-serif;
}

/* Estilos dos Inputs */
input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
}

/* Estilos do Cartão de Crédito */
.creditCard {
  background-color: #AA14F0;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.creditCardNumber,
.creditCardName,
.creditCardValidity,
.creditCardCvv {
  margin-bottom: 10px;
}

.creditCardInput {
  display: flex;
  align-items: center;
}

.creditCardInput input {
  flex: 1;
}

.cardFlag {
  width: 40px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.cardFlagVisa {
  background-image: url('path/to/visa.png'); /* Caminho da imagem da bandeira Visa */
}

.cardFlagMastercard {
  background-image: url('path/to/mastercard.png'); /* Caminho da imagem da bandeira MasterCard */
}

.cardFlagAmex {
  background-image: url('path/to/amex.png'); /* Caminho da imagem da bandeira Amex */
}

.cardFlagDiscover {
  background-image: url('path/to/discover.png'); /* Caminho da imagem da bandeira Discover */
}

.cardFlagDefault {
  background-image: url('path/to/default.png'); /* Caminho da imagem padrão */
}

/* Estilos para as Checkboxes */
.checkboxGroup {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-align: left;
}

.checkboxGroup label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: #fff; 
  font-family: "Inter", sans-serif;
}

.checkboxGroup input[type="checkbox"] {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 13px;
}

/* Estilo do Botão de Registro */
#registerButton {
  display: flex;
  width: 100%; 
  height: 50px; 
  background: #b350f1;
  color: #fff;
  border-radius: 65px;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer; 
  font-family: "Inter", sans-serif;
}

/* Estilo dos Botões de Alternância */
.toggleButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.toggleButtons button {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-family: "Urbanist", sans-serif;
}

.toggleButtons button.active {
  background-color: #b350f1;
  color: #fff;
}

/* Estilos Responsivos */
@media (max-width: 600px) {
  .reactModalContent {
    width: 95%;
  }

  button {
    width: 100%; 
  }

  #registerButton {
    height: 50px; 
  }

  input {
    font-size: 14px; 
  }
}
