* {
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(to right, #000, #5A2879, #B350F1, #B76EF1);
}

.logo-img {
    height: 60px;
}

.user-profile-img {
    height: 55px;   
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-menu {
    display: block !important;
    flex-direction: column;
    position: absolute;
    top: 8vh;
    right: 2%; 
    background-color: #252525;
    padding: 10px;
    border-radius: 5px;
    z-index: 101;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 10px 20px;
    background-color: #252525;
    color: white;
    font-size: 14px;
    border-bottom: 1px solid #B350F1;
    cursor: pointer;
    font-family: "Urbanist", serif;;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown-menu li:hover {
    color: #B350F1;
}