
.base-local {
    width: 500px;
    height: 40px;
    border: 20px solid;
    /* As 4 bordas sólidas com 25px de espessura */
    border-color: #fff;
    /* cores: topo, direita, inferior, esquerda */
    border-radius: 65px;
    margin: 9px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.base-retirada,
.base-devolucao {
    width: 210px;
    height: 40px;
    border: 20px solid;
    /* As 4 bordas sólidas com 25px de espessura */
    border-color: #fff;
    /* cores: topo, direita, inferior, esquerda */
    border-radius: 65px;
    margin: 9px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* Pesquisa */
.search-section {
    display: flex;
    justify-content: center;
    padding: 25px;
    background: #1c1c1e;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.search-section .search-fields {
    display: flex;
    justify-content: space-between;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.search-section .search-fields input {
    border: 5px #ffffff;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.search-section .search-fields input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.search-section .search-fields input#location {
    padding: 17px;
}

.search-section .search-fields .date-time1 input#pickup-datetime1,
.search-section .search-fields .date-time2 input#pickup-datetime2 {
    padding: 17px;
}

.search-section button {
    background-color: #AA14F0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 65px;
    cursor: pointer;
    height: 40px;
    margin-top: 2.5%;
    margin-left: 1.5%;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}