.search-container {
    display: flex;
    gap: 1rem;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
}

.input-group-local {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 25%;
}

.datetime-container {    
    display: flex;
    gap: 0.5rem;
}

.local-input {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    max-width: 180px;
}


.date-input {
    width: 65%;
}




.search-button {
    background: #AA14F0;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    width: 100%;
    max-width: 8rem;    

}

.search-button:hover {
    transition: all ease 1s;
    background: linear-gradient(90deg, rgba(140,0,255,1) 0%, rgba(255,0,244,1) 100%);
}

@media screen and (max-width: 992px){
    .search-button{
        margin-top: 0;
    }
}

@media screen and (max-width: 768px){
    .time-input{
        margin-left: 0;
    }
}