.main-search-container {
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 2% 1%;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

label {
    color: white;
    font-size: 16px;
    margin-bottom: 6px;
    margin-left: 2%;
    font-family: 'Inter', sans-serif;
}

input {
    padding: 10px;
    border-radius: 50px;
    border: none;
    font-family: 'Inter', sans-serif;
}

.date-time-wrapper {
    display: flex;
    gap: 0.5rem;
}

.date-input {
    width: 65%;
}
.time-input {
    width: 45%;
    margin-left: -5%;
}

.local-input {
    width: 100%;
}

.search-button {
    background: #AA14F0;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    width: 100%;
    max-width: 8rem;    
    margin-top: 14%;
}

.search-button:hover {
    transition: all ease 1s;
    background: linear-gradient(90deg, rgba(140,0,255,1) 0%, rgba(255,0,244,1) 100%);
}

@media screen and (max-width: 992px){
    .search-button{
        margin-top: 0;
    }
}

@media screen and (max-width: 768px){
    .time-input{
        margin-left: 0;
    }
}