.CarOverview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.CarOverview h2 {
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
}

.errorMessage {
  color: red;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
}

.carInput,
.descriptionInput {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 25px;
}

.carInput:focus {
  border: 2px solid #aa14f0;
}

.descriptionInput:focus {
  height: 200px;
  border: 2px solid #aa14f0;
  outline: none; 
}

.checkboxInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.checkboxLabel {
  font-size: 20px;
  color: #ffffff;
}

.toggleButton {
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.buttonActive {
  display: none;
}

.slider {
  width: 60px;
  height: 30px; 
  background-color: lightgray;
  border-radius: 50px; 
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.slider:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 3px;
  top: 3px; 
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.buttonActive:checked + .slider {
  background-color: #b350f1;
}

.buttonActive:checked + .slider:before {
  transform: translateX(30px);
}

.CarOverview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.CarOverview h2 {
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
}

.errorMessage {
  color: red;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
}

.carInput,
.descriptionInput {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.saveBtn {
  display: block;
  padding: 10px;
  background: #aa14f0;
  color: white;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 100%;
  transition: all ease 0.3s;
  margin-top: 10px;
}

.saveBtn:hover {
  background: linear-gradient(
    90deg,
    rgba(140, 0, 255, 1) 0%,
    rgba(255, 0, 244, 1) 100%
  );
}
