.CarOverview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.CarOverview h2 {
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
}

.errorMessage {
  color: red;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
}

.carInput,
.descriptionInput {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.carInput:focus {
  border: 2px solid #aa14f0;
}

.descriptionInput:focus {
  height: 200px; 
  border: 2px solid #aa14f0; 
  outline: none; 
}
.active {
  margin: 0 auto;
  display: flex;
  flex-direction: row; 
  align-items: center; 
  gap: 8px; 
}

.active label {
  font-size: 16px; /* Ajusta o tamanho da fonte para o texto */
  font-family: "Inter", sans-serif; 
  cursor: pointer; /* Torna clicável */
}

.buttonActive {
  cursor: pointer; /* Indica que o checkbox é clicável */
  width: 20px;
  height: 20px;
}


.saveBtn {
  display: block; /* Garante que o botão seja um bloco e respeite o alinhamento */
  padding: 10px;
  background: #aa14f0;
  color: white;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  width: 90%;
  transition: all ease 0.3s;
  margin-top: 10px;
  margin-left: 1.3rem;
  text-align: center; 
}


.saveBtn:hover {
  background: linear-gradient(
    90deg,
    rgba(140, 0, 255, 1) 0%,
    rgba(255, 0, 244, 1) 100%
  );
}

.toggleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.hiddenCheckbox {
  display: none; 
}

.toggleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Inter", sans-serif;
  user-select: none; 
}

.toggleButton.active {
  background-color: #28a745; 
}

.toggleButton.inactive {
  background-color: #dc3545; 
}

.toggleButton:hover {
  opacity: 0.9; 
}
