@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

h2 {
  color: #fff;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
}

button {
  display: flex;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 65px;
  align-items: center;
  cursor: pointer;
}

span {
  color: #AA14F0;
}

form div {
  margin-bottom: 15px;
}

.form-group-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
  min-width: 150px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  text-align: left;
  font-family: "Urbanist", sans-serif;
}

input, select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  border-radius: 65px;
  font-family: "Inter", sans-serif;
}

input:disabled {
  background-color: lightgray;
  cursor: not-allowed; 
}

.toggle-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle-button input {
  display: none;
}

.slider {
  width: 80px;
  height: 34px; 
  background-color: lightgray;
  border-radius: 24px; 
  position: relative;
  transition: background-color 0.3s;
}

.slider:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px; 
  left: 7px;
  bottom: 7px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s, background-color 0.3s;
}

.toggle-button input:checked + .slider {
  background-color: #b350f1; 
}

.toggle-button input:checked + .slider:before {
  transform: translateX(46px);
  background-color: #4e007e;
}

label, span {
  display: block;
  margin-bottom: 5px;
  font-family: "Urbanist", sans-serif;
  text-align: justify;
}

.car-checkbox-grid {
  display: flex;
  flex-wrap: wrap; /* Faz com que os itens que não cabem na linha, vão para a próxima linha */
  gap: 10px; /* Espaçamento entre os checkboxes */
  margin-top: 10px;
  margin-bottom: 20px;
}

.car-checkbox-grid label {
  flex: 1 1 calc(33.33% - 10px); /* Cada label ocupará 1/3 da largura disponível, subtraindo o gap */
  display: flex;
  align-items: center; /* Alinha o texto com o checkbox */
  gap: 5px; /* Espaço entre o checkbox e o texto */
}

.car-checkbox-grid p {
  margin-bottom: 5px;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.car-checkbox-grid input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 2px solid #fff;
  border-radius: 25%;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.car-checkbox-grid input[type="checkbox"]:checked {
  background-image: linear-gradient(to right, #9b39f1, #4e007e);
  animation: neonGradient 6s ease infinite;
  background-color: #b350f1;
}

.car-checkbox-grid input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
}

.car-button-container {
  display: flex;
  justify-content: space-between; /* Distribui os botões nas extremidades */
  gap: 5px;  /* Espaço entre os botões */
  width: 100%;  /* Garante que o contêiner ocupe toda a largura disponível */
}


/*ANIMACAO NEON*/
@keyframes neonGradient {
  0% {
    box-shadow: 0 0 10px #9b39f1, 0 0 20px #4e007e;
  }
  25% {
    box-shadow: 0 0 15px #4e007e, 0 0 30px #9b39f1;
  }
  50% {
    box-shadow: 0 0 10px #9b39f1, 0 0 20px #4e007e;
  }
  75% {
    box-shadow: 0 0 15px #4e007e, 0 0 30px #9b39f1;
  }
  100% {
    box-shadow: 0 0 10px #9b39f1, 0 0 20px #4e007e;
  }
}

#car-register-button,
#car-cancel-button {
  display: flex;
  border-radius: 37px;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 900;
  border: none;
  flex: 1; /* Faz com que os botões ocupem o mesmo tamanho */
  padding: 10px; /* Garante que os botões tenham um tamanho adequado */
}

#car-register-button,
#car-cancel-button {
  transition: background-image 0.4s ease, color 0.4s ease; /* Suaviza as mudanças de gradiente e cor */
  background-color: #AA14F0;
}

#car-register-button {
  color: #fff;
}

#car-register-button:hover, #car-cancel-button:hover {
  animation: neonGradient 6s ease infinite;
  color: #fff;
}

#car-register-button, #car-cancel-button {
  background-image: linear-gradient(to right, #9b39f1, #4e007e);
  color: #fff;
  transition: color 0.4s ease; /* Animação de transição da cor */
}

#car-cancel-button {
  background: #ffffff;
  color: #b350f1;
}

#car-cancel-button:hover {
  background-image: linear-gradient(to right, #9b39f1, #4e007e); /* Gradiente roxo */
  color: #fff; /* Garante que o texto não mude de cor */
}

.two-column-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  width: 48%;
  margin-bottom: 15px;
}

.car-three-column-form {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-between; 
  gap: 20%;
  margin-bottom: 15px;
  margin-top: 15px;
}

.car-form-group3,
.car-form-group3-o {
  margin-bottom: 15px;
  margin-right: 10%;
  display: flex;
  flex-direction: column; 
}

.car-form-group3-o {
  margin-right: 7%;
}

.car-form-group3 {
  margin-left: 10%;
  width: 34%;
}

.car-form-group3 select,
.car-form-group3 input {
  box-sizing: border-box; 
  padding: 10px; 
  font-size: 16px;  
  border: 1px solid #cccccc; 
}

.car-select {
  width: 100%;
  flex-grow: 1;
}


.car-form-group3 label,
.car-form-group3-o label {
  display: block;
  text-align: center; 
  margin-bottom: 8px; 
}

.form-group-insurance{
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-between; 
  gap: 7%;
  margin-bottom: 15px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .react-modal-content {
    width: 90%;
  }

  .modal-image {
    max-width: 120px;
  }

  button {
    width: 100%;
  }

  #car-register-button,
  #car-cancel-button {
    width: 45%;
    font-size: 14px;
  }

  .form-group {
    width: 100%;
  }

  .car-three-column-form {
    flex-direction: column;
    gap: 10%;
  }

  .car-form-group3,
  .car-form-group3-o {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  input, select {
    font-size: 14px;
  }

 
}

@media (max-width: 600px) {
  .react-modal-content {
    width: 95%;
  }

  .form-group-insurance {
    flex-direction: column; /* Faz com que os itens fiquem em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    gap: 10px;  /* Aumenta o espaçamento entre os itens */
  }

  .modal-image {
    max-width: 100px;
  }

  button {
    width: 100%;
    font-size: 14px;
  }

  .form-group {
    width: 100%;
  }


  .car-checkbox-grid label {
    flex: 1 1 100%;
    margin-bottom: 10px;
  }

  .car-checkbox-grid input {
    flex: 1 1 100%;
    margin-bottom: 10px;
   
  }

 

  .car-button-container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .car-form-group3 select,
  .car-form-group3 input {
    font-size: 14px;
  }
}
