
.main-carousel-container {
    width: 66%;
    height: 60%;
    text-align: center;
    z-index: 50;
    overflow: hidden;
  }
  
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    margin: 0;
    outline: none;
  }
  
  .carousel-slide {
    outline: none;
    box-shadow: none;
  }
  
  .slick-slide:focus,
  .slick-slide:active {
    outline: none !important;
    box-shadow: none !important;
  }

  .slick-slide img {
    outline: none;
    box-shadow: none;
  }
  
  @media screen and (max-width: 768px) {
    .main-carousel-container {
      height: 50%; 
    }
  }
  