@font-face {
  font-family: 'Urbanist';
  src: url('../fonts/Urbanist-ExtraLight.ttf') format('truetype');
}

.forgot-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-family: 'Urbanist', sans-serif;
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 20px;
}

span {
  color: #AA14F0;
  margin-bottom: 20px; /* Adicionado para espaçar o texto da entrada */
}

.input-forgot-password {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 25px;
  background-color: white;
  color: black;
  font-size: 16px;
  padding-left: 15px;
  box-sizing: border-box;
}

.error-message {
  color: red;
  font-size: 14px;
  margin: 10px 0;
}

.forgot-btn {
  background-color: #b350f1;
  color: white;
  width: 76%;
  padding: 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: all ease 0.3s;
}

.forgot-btn:hover {
  background: linear-gradient(90deg, rgba(140, 0, 255, 1) 0%, rgba(255, 0, 244, 1) 100%);
}

@media (max-width: 768px) {
  .forgot-password {
    padding: 15px;
  }

  .input-forgot-password {
    font-size: 14px;
    padding: 12px;
  }

  .forgot-btn {
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .forgot-password {
    padding: 10px;
  }

  .input-forgot-password {
    font-size: 12px;
    padding: 10px;
  }

  .forgot-btn {
    font-size: 12px;
    padding: 8px;
  }
}
